<div class="py-4 px-2 font-bold hover:bg-gray-100 cursor-pointer border-t border-gray-200 ">
    <div class="flex-items-center group">
        <div class="flex flex-1">
            <div>
                <span class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-gray-300">BK</span>
            </div>
            <div class="ms-3 flex-1">
                <div class="text-sm text-gray-100">Bharath Kumar</div>
                <div class="text-sm font-normal text-gray-500 truncate">what is the update on current project?</div>
            </div>
            <div class="inline-flex items-center text-xs text-gray-500">
                3 Days ago
            </div>
        </div>
        <div class="font-normal hidden group-hover:inline-flex ms-3">
            <i class="ri-delete-bin-6-fill ri-lg text-red-600"></i>
        </div>
    </div>
</div>
